body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#tabuleiro {
    display: flex; 
    justify-content: center;
    gap: 50px; 
    margin-top: 50px;
}

.pino {
    width: 170px;
    height: 250px; 
    background-color: transparent; 
    border-bottom: 10px solid #333; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative; 
    z-index: 1;  
}

.pino::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 15px; 
    height: 100%; 
    background-color: #8c2828; 
    border-radius: 5px 5px 0 0; 
    z-index: 0; 
}

.disco {
    height: 20px; /* Diminuímos a altura para caber 10 */
    background-color: #3498db;
    border-radius: 5px;
    margin-bottom: 1px;
    border: 1px solid rgba(0,0,0,0.2);
    position: relative;
    z-index: 10;
    transition: all 0.2s; /* Adiciona uma animação suave ao mover */
}

.pino.selecionado {
    background-color: rgba(0, 0, 0, 0.05); /* Fundo um pouco mais escurinho */
    border-bottom: 10px solid #3498db; /* Base azul */
}
#configuracoes {
    background: white;
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#configuracoes label, #configuracoes button {
    margin: 0 10px;
    cursor: pointer;
}

input[type="number"] {
    width: 40px;
}